#proyects{
    background: black;
    overflow: hidden;
    padding: 100px 0;
    .proyects-title{
        position: relative;
        color: #fff;
        text-align: left;
        font-weight: bold;
        font-size: 2rem;
        span{
            color: $main-color;
        }
    }
    .card{
        background-color: transparent;
        .card-body{
            h4{
                text-align: center;
                color: #fff;
            }
            .technolgies-img{
                .btn-created{          
                    margin-top: 5px;
                    display: inline-block;
                    background-color: #12181c;
                    color: #fff;          
                    border: 2px solid #12181c;
                    border-radius: 5px;
                    h5{
                        display: inline;
                        font-size: 14px;
                        padding-right: 5px;
                    }
                    img{
                        width: 26px;
                        height: 26px;
                    }
                }
            }
        }
    }
}
