$main-color: cyan;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Consolas, monaco, monospace;
  background: url("../img/background.png"),black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background: black;
}
body::-webkit-scrollbar-thumb {
  background: #00fbff;
  border-radius: 10px;
}

#home {
  height: 100vh;
  background:  linear-gradient(to bottom, transparent,rgba(0,0,0,0.4));
  .main-width {
    width: 1440px;
    max-width: 95%;
    margin: 0 auto;
    padding: 60px 0px 0px 0px;
    .navbar-brand {
      color: #00fbff;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .navbar-brand:hover{
      color: #00a8ab;
      transition: .5s;
    }
    .container{
      padding-top: 190px;
      .text {
        margin-bottom: 40px;
        display: inline-block;
        text-align: center;
        button {
          width: 200px;
          height: 80px;
          background: transparent;
          font-size: 1.3rem;
          font-weight: bold;
          border-radius: 10px;
          border:none;
          cursor: pointer;
          box-shadow: 16px 14px 20px rgba(0, 0, 0, 0.5490196078);
          position: relative;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        button::after {
          content: "Download CV";
          width: 191px;
          height: 72px;
          background: linear-gradient(#101010, rgba(16, 16, 16, 0.8980392157));
          position: absolute;
          border: 1px solid #1c1c1c;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: grey;
          box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.5490196078);
        }
        .button2::after {
          content: "Contact";
        }
        button:hover {
          background-color: #00fbff;
          transition: 0.5s;
        }
        button:hover::after {
          color: #fff;
          transition: 0.5s;
        }
        p {
          color: #fff;
          margin: 20px 0 20px;
          text-align: left;
        }
        .title-1 {
          font-size: 2rem;
        }
        .title-2 {
          font-size: 1.3rem;
          font-weight: bold;
        }
        .title-3 {
          color: #00fbff;
          font-size: 1.2rem;
        } 
        .social {
          margin-left: 10px;
          text-align: center;
        }
        .social a {
          text-decoration: none;
          width: 55px;
          height: 55px;
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          color: #fff;
          margin-right: 25px;
          background-color: rgba(255, 255, 255, 0.1);
          margin-bottom: 20px;
          margin-top: 20px;
        }
        .social a:hover {
          transform: scale(1.1);
          color: #00fbff;
          transition: 0.3s;
        }
      }
    }
  }
}
.text-main{color: $main-color;}

@media screen and (max-width: 767px) {
  #home .main-width{
    padding-top: 10px;
    .container{ 
      .text .title-1 {
        font-size: 1.5rem;
      }
      .text .title-2 {
        font-size: 1.2rem;
      }
      .text .title-3 {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  #home .main-width {
    padding-top: 10px;
    .container {
      padding-top: 200px;
      .text{
        button {
          width: 120px;
          font-size: 1rem;
        }
        button::after {
          width: 110px;
        }
        p {
          text-align: center;
        }
        .social a {
          width: 40px;
          height: 40px;
          font-size: 1.1rem;
          margin-right: 10px;
        }
      }
    }
  }
}

@import "aboutMe.scss";
@import "proyects.scss";
@import "contact.scss";