* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Consolas, monaco, monospace;
  background: url("../img/background.png"), black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #00fbff;
  border-radius: 10px;
}

#home {
  height: 100vh;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
}
#home .main-width {
  width: 1440px;
  max-width: 95%;
  margin: 0 auto;
  padding: 60px 0px 0px 0px;
}
#home .main-width .navbar-brand {
  color: #00fbff;
  font-size: 1.5rem;
  font-weight: bold;
}
#home .main-width .navbar-brand:hover {
  color: #00a8ab;
  transition: 0.5s;
}
#home .main-width .container {
  padding-top: 190px;
}
#home .main-width .container .text {
  margin-bottom: 40px;
  display: inline-block;
  text-align: center;
}
#home .main-width .container .text button {
  width: 200px;
  height: 80px;
  background: transparent;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 16px 14px 20px rgba(0, 0, 0, 0.5490196078);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .main-width .container .text button::after {
  content: "Download CV";
  width: 191px;
  height: 72px;
  background: linear-gradient(#101010, rgba(16, 16, 16, 0.8980392157));
  position: absolute;
  border: 1px solid #1c1c1c;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.5490196078);
}
#home .main-width .container .text .button2::after {
  content: "Contact";
}
#home .main-width .container .text button:hover {
  background-color: #00fbff;
  transition: 0.5s;
}
#home .main-width .container .text button:hover::after {
  color: #fff;
  transition: 0.5s;
}
#home .main-width .container .text p {
  color: #fff;
  margin: 20px 0 20px;
  text-align: left;
}
#home .main-width .container .text .title-1 {
  font-size: 2rem;
}
#home .main-width .container .text .title-2 {
  font-size: 1.3rem;
  font-weight: bold;
}
#home .main-width .container .text .title-3 {
  color: #00fbff;
  font-size: 1.2rem;
}
#home .main-width .container .text .social {
  margin-left: 10px;
  text-align: center;
}
#home .main-width .container .text .social a {
  text-decoration: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #fff;
  margin-right: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
}
#home .main-width .container .text .social a:hover {
  transform: scale(1.1);
  color: #00fbff;
  transition: 0.3s;
}

.text-main {
  color: cyan;
}

@media screen and (max-width: 767px) {
  #home .main-width {
    padding-top: 10px;
  }
  #home .main-width .container .text .title-1 {
    font-size: 1.5rem;
  }
  #home .main-width .container .text .title-2 {
    font-size: 1.2rem;
  }
  #home .main-width .container .text .title-3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 425px) {
  #home .main-width {
    padding-top: 10px;
  }
  #home .main-width .container {
    padding-top: 200px;
  }
  #home .main-width .container .text button {
    width: 120px;
    font-size: 1rem;
  }
  #home .main-width .container .text button::after {
    width: 110px;
  }
  #home .main-width .container .text p {
    text-align: center;
  }
  #home .main-width .container .text .social a {
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    margin-right: 10px;
  }
}
#aboutme-section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), black 100%);
}
#aboutme-section .skills {
  padding: 170px 0;
}
#aboutme-section .skills .card {
  background: rgba(174, 174, 174, 0.087);
  backdrop-filter: blur(1px);
  min-height: 370px;
  max-height: 370px;
}
#aboutme-section .aboutme {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;
}
#aboutme-section .aboutme .title {
  color: #fff;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}
#aboutme-section .aboutme .title span {
  color: cyan;
}
#aboutme-section .aboutme .card {
  border: 1px solid #1c1c1c;
  text-align: left;
  padding: 50px;
}
#aboutme-section .aboutme .card .card-title {
  display: inline;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  transition: 500ms;
}
#aboutme-section .aboutme .card .card-title:hover {
  color: cyan;
}
#aboutme-section .aboutme .card .card-title-color {
  display: inline;
  color: cyan;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  transition: 500ms;
}
#aboutme-section .aboutme .card .card-title-orange:hover {
  color: #fff;
}
#aboutme-section .aboutme .card .card-text {
  color: #fff;
  font-size: 18px;
}
#aboutme-section .aboutme img {
  width: 24rem;
  height: 28rem;
  border-radius: 5%;
  transform: perspective(800px) rotateY(-10deg);
  transition: 0.5s;
  z-index: 0;
}
#aboutme-section .aboutme img:hover {
  transform: perspective(800px) rotateY(0deg);
}

.glassmorfism {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.187);
  backdrop-filter: blur(3px);
}

@media screen and (max-width: 1024px) {
  #aboutme-section .aboutme .card {
    padding: 50px 20px;
  }
  #aboutme-section .aboutme .card .card-text {
    font-size: 16px;
  }
  #aboutme-section .aboutme img {
    width: 20rem;
    height: 25rem;
  }
}
@media screen and (max-width: 991px) {
  #aboutme-section .skills {
    padding: 40px 140px;
    padding-top: 120px;
  }
  #aboutme-section .skills .card {
    margin-bottom: 75px;
  }
}
@media screen and (max-width: 767px) {
  #aboutme-section .skills {
    padding: 40px 110px;
    padding-top: 120px;
  }
  #aboutme-section .skills .card {
    margin-bottom: 75px;
  }
  #aboutme-section .aboutme {
    height: auto;
    padding: 50px 0px 50px 0px;
  }
  #aboutme-section .aboutme .card {
    padding: 20px 25px;
  }
}
@media screen and (max-width: 558px) {
  #aboutme-section .skills {
    padding: 40px 0px;
    padding-top: 120px;
  }
  #aboutme-section .skills .card {
    max-height: 100%;
    margin-bottom: 75px;
  }
  #aboutme-section .skills .card .card-body {
    padding: 0;
  }
  #aboutme-section .aboutme .title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
  #aboutme-section .aboutme .card {
    text-align: center;
    padding: 20px 0;
  }
  #aboutme-section .aboutme .card .card-title {
    font-size: 1.1rem;
  }
  #aboutme-section .aboutme .card .card-title-color {
    font-size: 1.1rem;
  }
  #aboutme-section .aboutme img {
    width: 15rem;
    height: 18rem;
  }
}
#proyects {
  background: black;
  overflow: hidden;
  padding: 150px 0;
}
#proyects .proyects-title {
  position: relative;
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 2rem;
}
#proyects .proyects-title span {
  color: cyan;
}
#proyects .card {
  background-color: transparent;
  border: 1px solid #484747;
}
#proyects .card .card-body h4 {
  text-align: center;
  color: #fff;
}
#proyects .card .card-body .technolgies-img .btn-created {
  margin-top: 5px;
  display: inline-block;
  background-color: #12181c;
  color: #fff;
  border: 2px solid #12181c;
  border-radius: 5px;
}
#proyects .card .card-body .technolgies-img .btn-created h5 {
  display: inline;
  font-size: 14px;
  padding-right: 5px;
}
#proyects .card .card-body .technolgies-img .btn-created img {
  width: 26px;
  height: 26px;
}

@media screen and (max-width: 425px) {
  #proyects .proyects-title {
    font-size: 1.5rem;
  }
  #proyects .card .card-body h4 {
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
  #proyects .card .card-body p {
    font-size: 15px;
  }
  #proyects .card .card-body .technolgies-img .btn-created img {
    width: 20px;
    height: 20px;
  }
}
footer {
  padding: 25px 0;
  color: #fff;
  background: radial-gradient(ellipse at center, #1b2735 0%, #090a0f 90%);
  overflow: hidden;
}
footer .contact-form {
  padding: 0 40px;
}
footer .contact-form input,
footer .contact-form input:focus,
footer .contact-form textarea,
footer .contact-form textarea:focus {
  background: none;
  border-radius: 5px;
  border: 1px solid cyan;
  box-shadow: none;
  color: #fff;
}
footer .contact-form label {
  font-size: 1.05rem;
}
footer .contact-form button {
  background-color: transparent;
  border: 1px solid cyan;
  color: #fff;
  font-weight: bold;
  width: 200px;
  height: 45px;
  margin-top: 20px;
  transition: 200ms;
}
footer .contact-form .btn:hover {
  color: black;
  background-color: cyan;
}
footer .contact-info .div-info {
  margin-top: 50px;
}
footer .contact-info .div-info .info-footer-list {
  list-style: none;
  color: #fff;
}
footer .contact-info .div-info .info-footer-list li {
  color: #fff;
  font-size: 1.2rem;
  margin: 25px 0;
  margin-left: 25px;
}
footer .contact-info .div-info .info-footer-list li div {
  width: 35px;
  height: 35px;
  padding-top: 3px;
  text-align: center;
  display: inline-block;
  border: 1px solid cyan;
  border-radius: 50%;
  background-color: transparent;
  color: cyan;
}
footer .contact-info .div-redes {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .contact-info .div-redes .social a {
  text-decoration: none;
  width: 60px;
  height: 60px;
  border-radius: 25%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
}
footer .contact-info .div-redes .social a:hover {
  transform: scale(1.1);
  color: #00fbff;
  transition: 0.3s;
}

@media screen and (max-width: 1400px) {
  footer .contact-info .div-info .info-footer-list li {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1200px) {
  footer .contact-form {
    padding: 0 10px;
  }
  footer .contact-info {
    padding: 0 0px;
  }
  footer .contact-info .div-info .info-footer-list {
    padding-left: 25px;
  }
  footer .contact-info .div-info .info-footer-list li {
    font-size: 1rem;
    margin-left: 30px;
  }
  footer .contact-info .div-redes .social a {
    width: 50px;
    height: 50px;
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 1000px) {
  footer {
    padding: 65px 10px;
  }
}
@media screen and (max-width: 880px) {
  footer .contact-info .div-info .info-footer-list li {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 0px 0px;
  }
  footer .contact-form {
    padding: 0 50px;
  }
  footer .contact-info .div-info .info-footer-list {
    text-align: center;
    padding-left: 25px;
  }
  footer .contact-info .div-info .info-footer-list li {
    font-size: 1rem;
  }
  footer .contact-info .div-redes {
    margin-top: 25px;
  }
  footer .contact-info .div-redes .social a {
    width: 50px;
    height: 50px;
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 428px) {
  footer {
    padding: 0 5px;
  }
  footer .contact-form {
    padding: 0 5px;
  }
  footer .contact-form button {
    width: 150px;
    height: 40px;
  }
  footer .contact-form label {
    font-size: 16px;
  }
  footer .contact-info .div-redes {
    margin-top: 25px;
  }
  footer .contact-info .div-redes .social a {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
